* {
box-sizing: border-box;
font-family: sans-serif;
}

a {
  text-decoration: none;
}

/* Header */

#header {
background-color: lightblue;
height: 3em;
margin: 0em;
}

#header p {
  padding: .5em 0em 0em 0em;
  margin: 0em 0em 0em .5em;
  font-size: 1.2em;
  color: white;
  text-shadow: black 0px 0px 3px;
}

#header p a {
  color: white;
}

img.social {
  margin: 0em 0.5em;
  width: 1em;
  height: 1em;
}

#backgroundimg {
  width: 100%;
  height: 400px;
  background: url('./update.png');
  background-size: cover;
}

#backgroundimg #profileimg {
  border-radius: 50%;
  height: 22em;
  margin: 5em 0em 0em 3em;
}

#intro {
  margin: 3em 0em 0em 0em;
  height: 5em;
}

#intro p {
  float: left;
}

#intro p#welcome {
  font-size: 3em;
  font-family: cursive;
  margin: 0em 4em 0em 1em;
}

#intro p#location {
  margin: 2.6em 0em 0em 0em;
}

/* BODY */

#main  h2 {
  text-align: left;
  text-decoration: underline;
  font-size: 1.5em;
  margin: 0em 0em 0em 2em;
}

#main #career {
  width: 50%;
  margin: 0em 0em 0em 0em;
  padding: 0em;
  float: left;
}

#main li.worked {
  list-style-type: none;
  width: 20em;
}


#main ul li ul li {
  font-size: 0.8em;
}

#main #aboutme {
  width: 50%;
  margin: 0em 0em 0em 0em;
  padding: 0em;
  float: left;
}
#footer {
  margin: 2em 0em 0em 0em;
  width: 100%;
}
#footer p {
  margin: 1em 0em 0em 0em;
  text-align: center;
}
